<ion-header>
   <ion-navbar color="primary">
       <button ion-button menuToggle>
           <ion-icon name="menu"></ion-icon>
       </button>
       <ion-title *ngIf="!isSearchbarOpened">Danh sách sản phẩm</ion-title>
       <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" ></ion-searchbar>
       <ion-buttons end>   
           <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
                <ion-icon name="search"></ion-icon>
           </button>
        </ion-buttons><!--(search)="onSearch(&event)"-->
   </ion-navbar> 
</ion-header>

<ion-content padding class="common-bg"> 
        <ion-card *ngFor="let item of items" (click)="ToiCTSP(item)">
                <img src="http://thien.opestek.com/API/Images/{{item.hinhminhhoa}}"/>
                <ion-card-header>
                    <ion-card-title>{{item.TenSP}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <h2>{{item.giaban | number}} đồng/{{item.donvitinh}}</h2>
                </ion-card-content>
            </ion-card>
</ion-content>