@model List<WebBanNongSanSach.Models.CartItem>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Hình ảnh</td>
            <td>đơn giá</td>
            <td>thành tiền</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Hình ảnh</td>
            <td>đơn giá</td>
            <td>thành tiền</td>
        </tr>
    </tbody>
</table>